<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204106465828-uuco25e5m8dp1t9t6fndeshcmgou2vor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204106465828-uuco25e5m8dp1t9t6fndeshcmgou2vor</string>
	<key>API_KEY</key>
	<string>AIzaSyAIM4nS0BvQUDvTT4qVVmlSe9_C7Ojsu_s</string>
	<key>GCM_SENDER_ID</key>
	<string>204106465828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dimensionsoftware.tradebotNative</string>
	<key>PROJECT_ID</key>
	<string>tradebot-bca01</string>
	<key>STORAGE_BUCKET</key>
	<string>tradebot-bca01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204106465828:ios:34a96f30f9498bb7b18eb1</string>
	<key>DATABASE_URL</key>
	<string>https://tradebot-bca01.firebaseio.com</string>
</dict>
</plist>